$("<%= escape_javascript(render @user) %>").insertAfter(".container .span12");
$('#tbl_users').dataTable().fnDraw();
$('#row_counter').html($('#tbl_users').dataTable().fnSettings().fnRecordsTotal())
$('.modal .modal-footer :submit').button()



