/ ------------------------------------------------------------------------------
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
 / ----------------------------------------------------------------------------- 
 %h2 
  = t 'pages.users.edit'  
  = link_to("#{ t 'pages.back' }", :back, :class=>"pull-right")
 / ----------------------------------------------------------------------------- 
 .control-group 
  / ---------------------------------------------------------------------------- 
  .input-prepend
   %span.add-on
    %i.icon-user
   = f.text_field :name, :placeholder=> "#{ t 'pages.users.username_placeholder' }"
  / ----------------------------------------------------------------------------
  .input-prepend
   %span.add-on
    %i.icon-envelope-alt      
   = f.email_field :email, :placeholder=> "#{ t 'pages.users.email_placeholder' }"
  / ---------------------------------------------------------------------------- 
  .input-prepend
   %span.add-on                          
    %i.icon-lock 
   = f.password_field :password, :autocomplete => "off", :placeholder=> "#{ t 'pages.users.edit_password_placeholder' }"
  / ----------------------------------------------------------------------------  
  .input-prepend
   %span.add-on
    %i.icon-lock
   = f.password_field :password_confirmation, :autocomplete => "off", :placeholder=> "#{ t 'pages.users.password_confirmation_placeholder' }"
  / ----------------------------------------------------------------------------  
  .input-prepend
   %span.add-on
    %i.icon-lock
   = f.password_field :current_password, :placeholder=> "#{ t 'pages.users.edit_password_confirmation_placeholder' }"
  / ----------------------------------------------------------------------------   
  -#- for role in Role.all 
  -# %label.checkbox 
  -#  = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) 
  -#  = role.name 
 / -----------------------------------------------------------------------------  
 %h3
  %div= f.submit "#{ t 'pages.users.do_edit' }", :class => "pull-right btn #{ Settings.app.styles.user_button } btn-large" 
  #{ t 'pages.users.cancel' } #{link_to "#{ t 'pages.users.do_cancel' }", registration_path(resource_name), :data => { :confirm => "#{ t 'pages.users.cancel_confirm' }" }, :method => :delete}.
