= simple_form_for(@call) do |f|
  = f.error_notification

  .form-inputs
    = f.input :calldate
    = f.input :clid
    = f.input :src
    = f.input :dst
    = f.input :dcontext
    = f.input :channel
    = f.input :dstchannel
    = f.input :lastapp
    = f.input :lastdata
    = f.input :duration
    = f.input :billsec
    = f.input :disposition
    = f.input :amaflags
    = f.input :accountcode
    = f.input :uniqueid
    = f.input :userfield
    = f.input :src_device_id
    = f.input :dst_device_id
    = f.input :processed
    = f.input :did_price
    = f.input :card_id
    = f.input :provider_id
    = f.input :provider_rate
    = f.input :provider_billsec
    = f.input :provider_price
    = f.input :account_id
    = f.input :user_rate
    = f.input :user_billsec
    = f.input :user_price
    = f.input :reseller_id
    = f.input :reseller_rate
    = f.input :reseller_billsec
    = f.input :reseller_price
    = f.input :partner_id
    = f.input :partner_rate
    = f.input :partner_billsec
    = f.input :partner_price
    = f.input :prefix
    = f.input :server_id
    = f.input :hangupcause
    = f.input :callertype
    = f.input :peerip
    = f.input :recvip
    = f.input :sipfrom
    = f.input :uri
    = f.input :useragent
    = f.input :peername
    = f.input :t38passthrough
    = f.input :did_inc_price
    = f.input :did_prov_price
    = f.input :localized_dst
    = f.input :did_provider_id
    = f.input :did_id
    = f.input :originator_ip
    = f.input :terminator_ip
    = f.input :real_duration
    = f.input :real_billsec
    = f.input :did_billsec
    = f.input :dst_user_id

  .form-actions
    = f.button :submit
