%h1 Listing calls

%table
  %tr
    %th Calldate
    %th Clid
    %th Src
    %th Dst
    %th Dcontext
    %th Channel
    %th Dstchannel
    %th Lastapp
    %th Lastdata
    %th Duration
    %th Billsec
    %th Disposition
    %th Amaflags
    %th Accountcode
    %th Uniqueid
    %th Userfield
    %th Src device
    %th Dst device
    %th Processed
    %th Did price
    %th Card
    %th Provider
    %th Provider rate
    %th Provider billsec
    %th Provider price
    %th Account
    %th User rate
    %th User billsec
    %th User price
    %th Reseller
    %th Reseller rate
    %th Reseller billsec
    %th Reseller price
    %th Partner
    %th Partner rate
    %th Partner billsec
    %th Partner price
    %th Prefix
    %th Server
    %th Hangupcause
    %th Callertype
    %th Peerip
    %th Recvip
    %th Sipfrom
    %th Uri
    %th Useragent
    %th Peername
    %th T38passthrough
    %th Did inc price
    %th Did prov price
    %th Localized dst
    %th Did provider
    %th Did
    %th Originator ip
    %th Terminator ip
    %th Real duration
    %th Real billsec
    %th Did billsec
    %th Dst user
    %th
    %th
    %th

  - @calls.each do |call|
    %tr
      %td= call.calldate
      %td= call.clid
      %td= call.src
      %td= call.dst
      %td= call.dcontext
      %td= call.channel
      %td= call.dstchannel
      %td= call.lastapp
      %td= call.lastdata
      %td= call.duration
      %td= call.billsec
      %td= call.disposition
      %td= call.amaflags
      %td= call.accountcode
      %td= call.uniqueid
      %td= call.userfield
      %td= call.src_device_id
      %td= call.dst_device_id
      %td= call.processed
      %td= call.did_price
      %td= call.card_id
      %td= call.provider_id
      %td= call.provider_rate
      %td= call.provider_billsec
      %td= call.provider_price
      %td= call.account_id
      %td= call.user_rate
      %td= call.user_billsec
      %td= call.user_price
      %td= call.reseller_id
      %td= call.reseller_rate
      %td= call.reseller_billsec
      %td= call.reseller_price
      %td= call.partner_id
      %td= call.partner_rate
      %td= call.partner_billsec
      %td= call.partner_price
      %td= call.prefix
      %td= call.server_id
      %td= call.hangupcause
      %td= call.callertype
      %td= call.peerip
      %td= call.recvip
      %td= call.sipfrom
      %td= call.uri
      %td= call.useragent
      %td= call.peername
      %td= call.t38passthrough
      %td= call.did_inc_price
      %td= call.did_prov_price
      %td= call.localized_dst
      %td= call.did_provider_id
      %td= call.did_id
      %td= call.originator_ip
      %td= call.terminator_ip
      %td= call.real_duration
      %td= call.real_billsec
      %td= call.did_billsec
      %td= call.dst_user_id
      %td= link_to 'Show', call
      %td= link_to 'Edit', edit_call_path(call)
      %td= link_to 'Destroy', call, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Call', new_call_path
