%p#notice= notice

%p
  %b Calldate:
  = @call.calldate
%p
  %b Clid:
  = @call.clid
%p
  %b Src:
  = @call.src
%p
  %b Dst:
  = @call.dst
%p
  %b Dcontext:
  = @call.dcontext
%p
  %b Channel:
  = @call.channel
%p
  %b Dstchannel:
  = @call.dstchannel
%p
  %b Lastapp:
  = @call.lastapp
%p
  %b Lastdata:
  = @call.lastdata
%p
  %b Duration:
  = @call.duration
%p
  %b Billsec:
  = @call.billsec
%p
  %b Disposition:
  = @call.disposition
%p
  %b Amaflags:
  = @call.amaflags
%p
  %b Accountcode:
  = @call.accountcode
%p
  %b Uniqueid:
  = @call.uniqueid
%p
  %b Userfield:
  = @call.userfield
%p
  %b Src device:
  = @call.src_device_id
%p
  %b Dst device:
  = @call.dst_device_id
%p
  %b Processed:
  = @call.processed
%p
  %b Did price:
  = @call.did_price
%p
  %b Card:
  = @call.card_id
%p
  %b Provider:
  = @call.provider_id
%p
  %b Provider rate:
  = @call.provider_rate
%p
  %b Provider billsec:
  = @call.provider_billsec
%p
  %b Provider price:
  = @call.provider_price
%p
  %b Account:
  = @call.account_id
%p
  %b User rate:
  = @call.user_rate
%p
  %b User billsec:
  = @call.user_billsec
%p
  %b User price:
  = @call.user_price
%p
  %b Reseller:
  = @call.reseller_id
%p
  %b Reseller rate:
  = @call.reseller_rate
%p
  %b Reseller billsec:
  = @call.reseller_billsec
%p
  %b Reseller price:
  = @call.reseller_price
%p
  %b Partner:
  = @call.partner_id
%p
  %b Partner rate:
  = @call.partner_rate
%p
  %b Partner billsec:
  = @call.partner_billsec
%p
  %b Partner price:
  = @call.partner_price
%p
  %b Prefix:
  = @call.prefix
%p
  %b Server:
  = @call.server_id
%p
  %b Hangupcause:
  = @call.hangupcause
%p
  %b Callertype:
  = @call.callertype
%p
  %b Peerip:
  = @call.peerip
%p
  %b Recvip:
  = @call.recvip
%p
  %b Sipfrom:
  = @call.sipfrom
%p
  %b Uri:
  = @call.uri
%p
  %b Useragent:
  = @call.useragent
%p
  %b Peername:
  = @call.peername
%p
  %b T38passthrough:
  = @call.t38passthrough
%p
  %b Did inc price:
  = @call.did_inc_price
%p
  %b Did prov price:
  = @call.did_prov_price
%p
  %b Localized dst:
  = @call.localized_dst
%p
  %b Did provider:
  = @call.did_provider_id
%p
  %b Did:
  = @call.did_id
%p
  %b Originator ip:
  = @call.originator_ip
%p
  %b Terminator ip:
  = @call.terminator_ip
%p
  %b Real duration:
  = @call.real_duration
%p
  %b Real billsec:
  = @call.real_billsec
%p
  %b Did billsec:
  = @call.did_billsec
%p
  %b Dst user:
  = @call.dst_user_id

= link_to 'Edit', edit_call_path(@call)
\|
= link_to 'Back', calls_path
