= form_for @user, remote: true, url: registration_path(@user), html: {class: 'form-horizontal'} do |f|
  %table.table.simpleTable#tbl_form
    %tbody  
      %tr   
        %td(style="width:30px;")         
        %td(style="width:232px;")= f.text_field :name, :placeholder=>"Username"    
        %td(style="width:365px;")= f.email_field :email, :placeholder=>"Email" 
        %td(style="width:80px;")= f.number_field :accounting_code       
        
        %td(style="width:80px;")
          .input-append
            = f.number_field :margin
            %span.add-on %
        %td
        
      
      
      
      
      = f.fields_for :address do |a|
        %tr
          %td       
          %td= a.text_field :address_vat, :placeholder => "VAT"    
          %td= a.text_field :address_line_1, :placeholder => "Address"
          %td
          %td
          %td
        
             
        %tr
          %td
          %td= a.text_field :address_phone_1, :placeholder => "Phone" 
          %td= a.country_select :address_country, [ "Italy", "United Kingdom" ], :required => true
          %td
          %td
          %td
          
      
        %tr
          %td
          %td= a.text_field :address_fax, :placeholder => "Fax"    
          %td
          %td 
          %td
      
          
          %td         
            = button_tag :type => 'submit', :class => "pull-right btn btn-limekiln-3" do
              %i.font-awesome.icon-plus  

      
        
                  
