- content_for(:javascript) do
  = javascript_include_tag params[:controller]
/ ------------------------------------------------------------------------------     
.span4
  %h1
    %span.badge.badge-info#row_counter
    Resellers
/ ------------------------------------------------------------------------------                                 
.span12                          
  .box   
    .box-content      
      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ----------------------------------------------------------------------
        %thead
          %tr
            %th(style="width:30px;")          
            %th(style="width:155px;") Name
            %th(style="width:235px;") Email
            / %th Role
            %th(style="width:80px;") Code
            %th(style="width:80px;") Margin
            %th(style="width:60px;")
            /%th Sign-in Count 
            /%th Last Sign-in 
        / ----------------------------------------------------------------------
        %tbody
      / ------------------------------------------------------------------------
      = render 'form' 

       
= render 'modal'                  
