/ ------------------------------------------------------------------------------
= simple_form_for(resource, :as => resource_name, :html => {:method => 'put'}, :url => reset_path) do |f|    
 / -----------------------------------------------------------------------------
 %h2 Reset your Password                                             
 / -----------------------------------------------------------------------------
 .control-group 
  / ---------------------------------------------------------------------------
  .input-prepend
   %span.add-on                          
    %i.icon-lock       
   = f.password_field :password, :placeholder=> "Choose a password"
  / ---------------------------------------------------------------------------
  .input-prepend
   %span.add-on
    %i.icon-lock       
   = f.password_field :password_confirmation, :placeholder=> "Password confirmation"
 / -----------------------------------------------------------------------------  
 = hidden_field_tag :reset_password_token, @reset_password_token  
 / -----------------------------------------------------------------------------
 .controls   
  = f.submit  "Update", :class => "btn btn-large #{ Settings.app.styles.user_button } pull-right"
 / ----------------------------------------------------------------------------- 
 %h3
  %span(style="color:#444;")
   &copy; SKT Srl 2013  