- content_for(:javascript) do
  = javascript_include_tag params[:controller]
/ ------------------------------------------------------------------------------     
.span6
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
/ ------------------------------------------------------------------------------                                 
.span12  
  .box   
    .box-content      
      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ----------------------------------------------------------------------
        %thead
          %tr
            %th Accounting Code
            %th Account 
            %th Date
            %th Bill Sec 
            %th User Price 
        / ----------------------------------------------------------------------
        %tbody
      / ------------------------------------------------------------------------      
