- content_for(:javascript) do
  = javascript_include_tag params[:controller]
#acc_code(style="display:none;") 
  = current_user.accounting_code      
- if (current_user.has_role? :admin or current_user.has_role? :owner)  
  #can_view(style="display:none;")= "all"         
/ ------------------------------------------------------------------------------     
.span6
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
  %p
    Hourly margins generated by each customer. Values are updated every hour.
    
.button-wrapper.pull-right   
  %a.btn-alfa-3.btn(href="/margins.xls") 
    %i.icon-list-ol
    %span	
      Export XLS      
   
/ ------------------------------------------------------------------------------                                 
.span12  
  /= javascript_include_tag "//www.google.com/jsapi", "chartkick"
  /= line_chart Margin.group_by_day(:sampled_at).group_by(&:accounting_code).sum(:margin)
  .box   
    .box-content       
      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ----------------------------------------------------------------------
        %thead
          %tr
            %th Reseller
            %th Sample Time 
            %th Total Sales
            %th Margin
            %th Calls
        / ----------------------------------------------------------------------
        %tbody
      / ------------------------------------------------------------------------        

