= simple_form_for(@address) do |f|
  = f.error_notification

  .form-inputs
    = f.input :address_country
    = f.input :address_line_1
    = f.input :address_line_2
    = f.input :address_vat
    = f.input :address_phone_1
    = f.input :address_phone_2
    = f.input :address_fax

  .form-actions
    = f.button :submit
