- content_for(:javascript) do
  = javascript_include_tag params[:controller]    
/ ------------------------------------------------------------------------------     
.span6
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}                                               
  
/ ------------------------------------------------------------------------------                                 
.span12  
  .box   
    .box-content 
      
      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ----------------------------------------------------------------------
        %thead
          %tr
            %th Reseller
            %th Country
            %th Address
            //%th Address Line 2
            %th VAT
            %th Phone
            //%th Phone 2
            %th Fax
        / ----------------------------------------------------------------------
        %tbody
      / ------------------------------------------------------------------------        

