%p#notice= notice

%p
  %b Address country:
  = @address.address_country
%p
  %b Address line 1:
  = @address.address_line_1
%p
  %b Address line 2:
  = @address.address_line_2
%p
  %b Address vat:
  = @address.address_vat
%p
  %b Address phone 1:
  = @address.address_phone_1
%p
  %b Address phone 2:
  = @address.address_phone_2
%p
  %b Address fax:
  = @address.address_fax

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
