- content_for(:javascript) do
  = javascript_include_tag params[:controller]
#acc_code(style="display:none;") 
  = current_user.accounting_code    
- if (current_user.has_role? :admin or current_user.has_role? :owner)  
  #can_view(style="display:none;")= "all"   

/ ------------------------------------------------------------------------------     
.span6
  %h1
    %span.badge.badge-info#row_counter= @response[:reports].count.to_s
    //#{params[:controller].singularize.titleize}
    Margins
  %p
    Aggregate total margin for each customer. Values are updated every hour.
    
.span12
  //= javascript_include_tag "http://www.google.com/jsapi", "chartkick"
  //= line_chart Report.where(accounting_code: current_user.accounting_code).group_by_day(:updated_at).group_by(&:user_name).sum(:margin)
  .box    
    .box-content
                       
      %form.pull-left
        %input#filter_tbl(placeholder="Search by Customer or Reseller")

      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}")
        / ----------------------------------------------------------------------
        %thead
          %tr
            - if (current_user.has_role? :admin or current_user.has_role? :owner)
              %th Reseller 
            %th Customer
            %th Calls
            %th Minutes
            %th Price
            - if (current_user.has_role? :admin or current_user.has_role? :owner)
              %th Margin             
        / ----------------------------------------------------------------------
        %tbody	
          - @response[:reports].each do |key,value|
            %tr
              - if (current_user.has_role? :admin or current_user.has_role? :owner)
                %td= User.where(accounting_code: value.map(&:accounting_code)[0]).first.name
                
              %td= key      
              %td= value.sum(&:call_count)
              %td= value.sum(&:duration_sec)
              %td= value.sum(&:price).round(2)
              - if (current_user.has_role? :admin or current_user.has_role? :owner)
                %td= value.sum(&:margin).round(2)  
                
                
      :javascript              
        $('#filter_tbl').keyup(function() {
            var that = this;
            $.each($('tbody tr'),
            function(i, val) {
                if ($(val).text().indexOf($(that).val()) == -1) {
                    $('tbody tr').eq(i).hide();
                } else {
                    $('tbody tr').eq(i).show();
                }
            });
        });        
      
                
         
              
