@import foundicons/foundicons
//------------------------------------------------------------------------------ 
.zurbicon-resellers
 //@extend .zurb-general
 @extend .foundicon-globe
 font-family: "GeneralFoundicons"
 font-style: normal
//------------------------------------------------------------------------------ 
.zurbicon-call.records
 //@extend .zurb-general
 font-style: normal
 @extend .foundicon-phone
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-reports
 //@extend .zurb-general
 font-style: normal
 @extend .foundicon-phone
 font-family: "GeneralFoundicons" 
//------------------------------------------------------------------------------ 
.zurbicon-margins
 //@extend .zurb-general
 @extend .foundicon-graph
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-customers	
 //@extend .zurb-social
 @extend .foundicon-torso
 font-family: "SocialFoundicons" 
 font-style: normal
//------------------------------------------------------------------------------ 
.zurbicon-calls
 //@extend .zurb-general
 @extend .foundicon-mic
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-addresses
 //@extend .zurb-general
 @extend .foundicon-address-book
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-details
 //@extend .zurb-general
 @extend .foundicon-search
 font-style: normal 
 font-family: "GeneralFoundicons"
 
#tbl_form select 
 margin-top: 8px
 
#user_accounting_code, #user_margin
 width: 90px
#user_email, #user_address_attributes_address_line_1, #address_address_country, #tbl_form select 
 width: 330px
              

