@import "bootstrap"
@import "bootstrap-datepicker"
// @import "bootstrap-responsive";
//- Set to none to override Twitter Bootstrap icons ----------------------------
[class^="icon-"], [class*=" icon-"]                                             
 background-image: none
[class^="icon-"]:before, [class*=" icon-"]:before
 cursor: inherit 
// ----------------------------------------------------------------------------- 
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
 height: auto
 line-height: auto  
//------------------------------------------------------------------------------
label                                                                          
 padding: 0
 font-size: 14px
 line-height: 0
label, .badge  
 vertical-align: text-bottom
select, textarea 
 width: auto  

.input-append .add-on, .input-prepend .add-on
 height: auto
 line-height: 20px 
 
