%h3 Telefree Agent
/ ------------------------------------------------------------------------------
%p
 Dear 
 = @resource.name + ','
 please 
 = link_to " click here", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
 to activate your Telefree account.
