%h3 Telefree Agent
/ ------------------------------------------------------------------------------
%p
 Dear 
 = @resource.name + ','
 please 
 = link_to "click here", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
 to reset your Telefree password.
 
