/ ------------------------------------------------------------------------------  
.alert-box  
  - flash.each do |name, msg|
    / --------------------------------------------------------------------------
    %div{:class => "alert-#{name == :notice ? "success" : "error"}"}        
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)     
/ ------------------------------------------------------------------------------       

- begin
  = devise_flash_messages! if resource.errors.any?
- rescue
