%footer.pull-left
 / ----------------------------------------------------------------------------
 .pull-left
  / ---------------------------------------------------------------------------
  Copyright &copy; #{ Date.today.year } Matteo La Cognata
