<table border="1">
  <tr>
    <th>Reseller</th>
    <th>Year</th> 
    <th>Month</th>
    <th>Customer</th>
    <th>Price</th>
  </tr>
  <% @reports.each do |report| %>
  <tr>
    <td><%= report.user.name %></td>
    <td><%= report.year %></td>
    <td><%= report.month %></td>
    <td><%= report.user_name %></td>  
    <td><%= report.price %></td>   
  </tr>
  <% end %>
</table>

