<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Reseller</Data></Cell>
        <Cell><Data ss:Type="String">Year</Data></Cell>
        <Cell><Data ss:Type="String">Month</Data></Cell>
        <Cell><Data ss:Type="String">Customer</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
    <% @reports.each do |report| %>
      <Row>
        <Cell><Data ss:Type="String"><%= report.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.month %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.user_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= report.price %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
