- content_for(:javascript) do
  = javascript_include_tag params[:controller]
#acc_code(style="display:none;") 
  = current_user.accounting_code    
- if (current_user.has_role? :admin or current_user.has_role? :owner)  
  #can_view(style="display:none;")= "all"   
/ ------------------------------------------------------------------------------     
.span6
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
  %p
    Aggregate monthly margins generated by each customer. Current month margins are updated every hour.    
/ ------------------------------------------------------------------------------  
.button-wrapper.pull-right   
  %a.btn-alfa-3.btn(href="/reports.xls") 
    %i.icon-list-ol
    %span Export XLS   
/ ------------------------------------------------------------------------------                                 
.span12  
  .box   
    .box-content 
      /.input-append.date#dp3
      /  %input.span2(type="text")
      /    %span.add-on
      /      %i.icon-th
      
      %form.pull-left 
        %input#filter_tbl(placeholder="Search by Reseller or Customer")      
      
      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ----------------------------------------------------------------------
        %thead
          %tr
            - if (current_user.has_role? :admin or current_user.has_role? :owner)
              %th Reseller
            %th Customer
            %th Month 
            %th Year
            %th Total Sales
            - if (current_user.has_role? :admin or current_user.has_role? :owner)
              %th Margin
        / ----------------------------------------------------------------------
        %tbody
      / ------------------------------------------------------------------------       
      
      :javascript              
        $('#filter_tbl').keyup(function() {
            var that = this;
            $.each($('tbody tr'),
            function(i, val) {
                if ($(val).text().toLowerCase().indexOf($(that).val()) == -1) {
                    $('tbody tr').eq(i).hide();
                } else {
                    $('tbody tr').eq(i).show();
                }
            });
        });              
      
