.detail-box
 border-radius: 5px
 padding: 10px 
 margin:
  left: 25px
 text-shadow: 1px 1px 0 rgba(255,255,255,0.8)
 
 p
  padding-top: 10px
  
.well p  
 font-size: 15px
 line-height: 16px
   
.detail-box.github-blue
 border-color: #C4DCE2
 //@include background-image(linear-gradient(#EAF5FA, #C5E8F1))
 @include background-image(linear-gradient(#EAF5FA, #91CBF3))
  
.detail-box.github-green
 @include background-image(linear-gradient(#F1FEF4, #C4E6BD))
 border-color: #C7E2C4   
 
.detail-box.github-cream
 @include background-image(linear-gradient(#FEFEF3, #FBF8D4))
 border-color: #E7E4C2
 
 
.detail-box.github-blue h3
 color: #1A526B   

.detail-box.github-green h3
 color: #1F5714
 
.detail-box h3
 font-size: 18px
 line-height: 8px
 
.detail-box .rule
 border-bottom: 1px solid rgba(255, 255, 255, 0.6)
 border-top: 1px solid rgba(0, 0, 0, 0.1)
 margin: 0 auto
 padding: 0 10px
 width: 95%
 
.rule
 -moz-border-bottom-colors: none
 -moz-border-image: none
 -moz-border-left-colors: none
 -moz-border-right-colors: none
 -moz-border-top-colors: none
 background: none repeat scroll 0 0 transparent
 clear: both
 height: 0
 overflow: hidden   
  

