footer                                                                                                                      
 padding-top: 20px
 padding-bottom: 40px  
 color: rgba(255,255,255,0.8)
 text-shadow: 1px 1px 0 rgba(0,0,0,0.3)
 font-size: 14px
 clear: both
 //-----------------------------------------------------------------------------
 a                                                                      
  @include transition(color 100ms linear)                                                                                                                                     
                                                                                                                   
