//------------------------------------------------------------------------------  
section.main
 position: absolute
 top: $top + 40px
 left: $deck-width + 40px
 //------------------------------------------------------------------------------
 .container                                                                 
  background: none repeat scroll 0 0 rgba(244,244,244,0.4)                                   
  border: 1px solid rgba(255,255,255,0.4)                                                      
  border-radius: 4px                                                             
  padding-top: 20px
  padding-bottom: 30px
  padding-right: 20px
  width: 985px
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7)
  clear: both
  //------------------------------------------------------------------------------                                                                               
  h1                                                                             
   color: $purple-rain                                                           
   text-shadow: 0 1px 0 #FFFFFF                                                  
   font-size: 35px                                                               
   font-weight: normal
   line-height: 26px
   //----------------------------------------------------------------------------
   .small
    display: inline
    font-size: 14px
   //---------------------------------------------------------------------------- 
   .badge
    font-size: 32px
    padding: 20px 12px
  //----------------------------------------------------------------------------- 
  .button-wrapper
   background: none repeat scroll 0 0 #EBEBEB
   border-radius: 5px 5px 5px 5px
   display: inline-block
   padding: 5px 
   margin-top: 5px
  //----------------------------------------------------------------------------- 
  a.btn
   font-weight: bold
   font-size: 16px
  //------------------------------------------------------------------------------  
  .box
   +clearfix
   margin-top: 20px
   margin-bottom: 20px
   background-color: rgba(0, 0, 0, 0.1)
   box-shadow: 0px 1px 2px rgba(0,0,0,0.5)
   border: 1px solid rgba(255, 255, 255, 0.2)
   border-radius: 6px 
   //-----------------------------------------------------------------------------
   .box-content
    padding: 40px 5px
    position: relative
    +clearfix
                                                   
