// -----------------------------------------------------------------------------
#tbl_form td 
  > input, > div, > button.btn
    margin-top: 8px
// -----------------------------------------------------------------------------
div.dataTables_info, .dataTables_processing
  float: left
  padding-top: 5px
// -----------------------------------------------------------------------------
.tbl_info
  margin: 5px 0 20px 0
  width: 100%
// -----------------------------------------------------------------------------  
.tbl_footer
  position: absolute
  top: 48px
  right: 5px
// -----------------------------------------------------------------------------
.dataTables_filter input, #filter_tbl
  height: 28px
  top: -4px
 
div.dataTables_filter label, .dataTables_filter, .dataTables_filter input 
  float: left	
// -----------------------------------------------------------------------------
.table, table.dataTable
  margin:
    top: 0
    bottom: 0 !important
  // ---------------------------------------------------------------------------      
  th, td
    font-size: 17px
    padding: 12px 8px 
  // ---------------------------------------------------------------------------
  thead 
    // -------------------------------------------------------------------------
    tr
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3)
      border-radius: 4px 4px 0 0
    // -------------------------------------------------------------------------      
    th
      color: #FFF
      text-shadow: 0 1px 0 rgba(0,0,0,0.3)
      font-family: DroidSans-Regular
      font-size: 18px
    // -------------------------------------------------------------------------   
    th:active, td:active
      outline: none        
    // -------------------------------------------------------------------------      
    tr:first-child th:first-child
      border-radius: 4px 0 0 0  
    // -------------------------------------------------------------------------      
    tr:first-child th:last-child
      border-radius: 0 4px 0 0
// -----------------------------------------------------------------------------      
.table, table.dataTable      
  // ---------------------------------------------------------------------------    
  tbody    
    // -------------------------------------------------------------------------
    > tr
      background-color: whiteSmoke
      // -----------------------------------------------------------------------
    > tr.odd:hover 
      td, td.sorting_1, td.sorting_2, td.sorting_3
        background-color: lighten(#44a0cd,40%)
    // -------------------------------------------------------------------------    
    > tr.even:hover
      td, td.sorting_1, td.sorting_2, td.sorting_3
        background-color: lighten(#44a0cd,40%)     
    // -------------------------------------------------------------------------
    > tr.odd td.sorting_1  
      background-color: lighten(#44a0cd,30%) 
    // ------------------------------------------------------------------------- 
    > tr.odd td.sorting_2 
      background-color: lighten(#44a0cd,30%)
    // ------------------------------------------------------------------------- 
    > tr.odd td.sorting_3 
      background-color: lighten(#44a0cd,30%)
    // -------------------------------------------------------------------------  
    > tr.even td.sorting_1  
      background-color: lighten(#44a0cd,20%) 
    // ------------------------------------------------------------------------- 
    > tr.even td.sorting_2 
      background-color: lighten(#44a0cd,20%)
    // ------------------------------------------------------------------------- 
    > tr.even td.sorting_3 
      background-color: lighten(#44a0cd,20%)      
    // -------------------------------------------------------------------------
    > tr:nth-child(2n+1) > td, > tr:nth-child(2n+1) > th  
      background-color: #FFF      
    // ------------------------------------------------------------------------- 
// -----------------------------------------------------------------------------    
.table.simpleTable
  border:
    bottom: 1px solid lighten(#DEB887,5%)
    top: 1px solid lighten(#DEB887,5%)
  tr:last-child td
    padding-bottom: 25px
  tbody > tr:first-child td
    padding-top: 12px    
  th, td
    border-top: 0px
  td
    padding: 0 8px
  // ---------------------------------------------------------------------------    
  tbody    
    // -------------------------------------------------------------------------
    > tr
      background-color: lighten(#DEB887,25%)
    // -------------------------------------------------------------------------
    > tr:nth-child(2n+1) > td, > tr:nth-child(2n+1) > th  
      background-color: lighten(#DEB887,25%)
// -----------------------------------------------------------------------------
.table, table.dataTable       
  // ---------------------------------------------------------------------------  
  th, th.sorting, th.sorting_disabled
    background-color: $navy-blue 
    @include background(linear-gradient(lighten($navy-blue,10%) 0%,darken($navy-blue,10%) 100%)) 
  // ---------------------------------------------------------------------------   
  th.sorting_asc, th.sorting_desc
    // background-color: #44a0cd
    @include background-image(linear-gradient(top,#455a65,#3d4f59))
    //box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3) 
    //border: 
    //  left: solid 1px rgba(255,255,255,0.3)
    //  right: 1px solid rgba(0, 0, 0, 0.9)      
// -----------------------------------------------------------------------------  
.pagination ul 
  // ---------------------------------------------------------------------------
  > li.next.disabled, > li.prev.disabled
    //display: none
  // ---------------------------------------------------------------------------  
  > li > a, > li > span  
    @include background-image(linear-gradient(top,#394d57,#31424b))
    color: #fff                                                                                             
    text-shadow: 0 1px 0 #000     
  // ---------------------------------------------------------------------------    
  > .active > a, > .active > span
    color: #FFF
  // ---------------------------------------------------------------------------  
  > li > a:hover, > li > a:focus, > .active > a, > .active > span
    color: #FFF
    background-color: #425560
    @include background-image(linear-gradient(top,#455a65,#3d4f59))   
  // ---------------------------------------------------------------------------   
  > li.active > a:hover, > li.active > a:focus
    background-color: #0088CC   
    background-image: none
  // ---------------------------------------------------------------------------    
  > .active > a, > .active > span
    // background-color: $navy-blue
    background-color: #44a0cd
    background-image: none
  // ---------------------------------------------------------------------------
  > li.disabled:first-child > a, li.disabled:first-child > span, li.disabled:last-child > a, li.disabled:last-child > span
    color: #999999
  // ---------------------------------------------------------------------------  
  > li > a, > li > span
    border: 0
  // ---------------------------------------------------------------------------  
  > li:first-child > a, > li:first-child > span, > li:last-child > a, > li:last-child > span
    @include background(linear-gradient(left top,#edf3fa 0%,#d0d9e4 100%))
    color: rgba(0,0,0,0.6)
    text-shadow: 0 1px 0 #fff
  // ---------------------------------------------------------------------------    
  > li:first-child > a:hover, > li:last-child > a:hover 
    @include background(linear-gradient(left top,lighten(#edf3fa,15%) 0%,lighten(#d0d9e4,5%) 100%)) 
  // ---------------------------------------------------------------------------    
  > li.disabled:first-child > a:hover, > li.disabled:last-child > a:hover 
    @include background(linear-gradient(left top,#edf3fa 0%,#d0d9e4 100%))  
  // ---------------------------------------------------------------------------    
  > li:first-child > a, > li:first-child > span
    border-radius: 4px 0 0 4px
  // ---------------------------------------------------------------------------    
  > li:last-child > a, > li:last-child > span
    border-radius: 0 4px 4px 0
// -----------------------------------------------------------------------------
.dataTables_info
  color: rgba(0, 0, 0, 0.7)
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6)
// -----------------------------------------------------------------------------  
.dataTables_filter
  // ---------------------------------------------------------------------------
  label
    color: transparent
  // ---------------------------------------------------------------------------    
  input        
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5)
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: rgba(255, 255, 255, 0.5)
    
#filter_tbl
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5)
  border: 1px solid rgba(255, 255, 255, 0.5)
  background-color: rgba(255, 255, 255, 0.5)
