!!! 5
%html(lang = '#{ Settings.meta.language }')  
 / *****************************************************************************                               
 %head  
  / %script(type='text/javascript' src='https://getfirebug.com/firebug-lite.js') 
  / ----------------------------------------------------------------------------
  - meta_tags
  - link_tags
  - mobile_tags    
  / ****************************************************************************
  = stylesheet_link_tag 'core', 'devise', media: :all                                  
  / **************************************************************************** 
  = javascript_include_tag :modernizr, 'preload' 
  - analytics [:mixpanel, :google]                                      
  / ****************************************************************************
  = csrf_meta_tag   
 / *****************************************************************************  
 %body(class = 'devise #{ controller.controller_name }')
  / ----------------------------------------------------------------------------
  = render 'alerts'  
  .deck-full
   / --------------------------------------------------------------------------
   
   = yield      
 / *****************************************************************************  
 = javascript_include_tag 'core', 'application'
 = yield :javascript 
